<mat-drawer-container class="example-container mat-body-2">
  <mat-drawer-content>
    <header>
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <a routerLink="/lobby" routerLinkActive="active" class="logo">
            <img src="assets/quix-logo.svg" alt="Quix" height="32" />
          </a>
          <span [style.fontSize.px]="18" class="ms-2 mt-2">TEMPLATES</span>
        </div>
        <div fxLayout="row" fxHide.xs>
          <a mat-raised-button color="primary" class="small me-2" fxLayout="row" fxLayoutAlign="center center"
            [href]="'https://portal.platform.quix.ai/pipeline?workspace=' + deepLinkWorkspaceId + '&token=' + ungatedToken"
            target="_blank">
            <img src="assets/quix.svg" alt="Quix" height="12" class="me-2" />
            <span>Look under the hood</span>
          </a>
          <a mat-raised-button color="accent" class="small" fxLayout="row" fxLayoutAlign="center center"
            href="https://github.com/quixio/computer-vision-demo" target="_blank">
            <img src="assets/github.svg" alt="Quix" height="16" class="me-2" />
            <span>View repo</span>
          </a>
        </div>
      </mat-toolbar>
    </header>
    <main fxFlex fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.xs="0">
      <!-- Live feed Section -->
      <div fxLayout="column" fxFlex.gt-xs="50" fxFlex.gt-sm="480px" class="overflow-auto p-5 mat-elevation-z4">
        <div class="mb-5">
          <h1 class="mb-1">Computer vision</h1>
          <p class="mb-3 text-body text-uppercase">Project template</p>
          <p class="mat-body">Uses object detection to visualize London's traffic density in real time.</p>
          <div fxLayout="row">
            <a mat-raised-button color="primary" class="small me-2" fxLayout="row" fxLayoutAlign="center center"
              [href]="'https://portal.platform.quix.ai/pipeline?workspace=' + deepLinkWorkspaceId + '&token=' + ungatedToken"
              target="_blank">
              <img src="assets/quix.svg" alt="Quix" height="12" class="me-2" />
              <span>Look under the hood</span>
            </a>
            <a mat-raised-button color="accent" class="small" fxLayout="row" fxLayoutAlign="center center"
              href="https://github.com/quixio/computer-vision-demo" target="_blank">
              <img src="assets/github.svg" alt="Quix" height="16" class="me-2" />
              <span>View repo</span>
            </a>
          </div>
        </div>

        <div class="mb-5">
          <p>Built with Quix and Confluent</p>
          <div fxLayout="row" fxFlexAlign="start center">
            <img src="assets/quix-logo-black.svg" alt="Quix" height="25" />
            <mat-divider [vertical]="true" class="mx-3 border-dark"></mat-divider>
            <img src="assets/confluent.svg" alt="Confluent" height="25" />
          </div>
        </div>

        <div class="mb-5">
          <h4 class="mb-2">Live data from London's traffic cameras</h4>
          <p class="text-body mb-3">
            Every 20 seconds, this project <a
              [href]="'https://portal.platform.quix.ai/pipeline/deployments/' + uiProjectDeploymentId + '?workspace=' + deepLinkWorkspaceId + '&token=' + ungatedToken"
              target="_blank">ingests video frames</a> from Transport for London (TfL) traffic cameras and
            detects the vehicles in each frame. Vehicle detection is powered by the <a
              [href]="'https://portal.platform.quix.ai/pipeline/deployments/' + computerVisionProjectDeploymentId + '?workspace=' + deepLinkWorkspaceId + '&token=' + ungatedToken"
              target="_blank">YOLO v8 ML model</a>.
            To preserve resources only 1 every 100 frames is extracted for processing. These are the latest (try
            clicking on one):
          <p class="text-body mb-3">To preserve resources only 1 every 100 frames is extracted for processing. These are
            the latest (try clicking on one):</p>
          <div fxLayout="row" fxLayoutGap="2">
            <ng-container *ngFor="let m of lastMarkers">
              <ng-container *ngIf="m">
                <img *ngIf="m.image" [src]="'data:image/png;base64,' + m.image" height="48" fxFlex role="button"
                  (click)="selectMarker(m.title!)" class="lastMarker">
                <img *ngIf="!m.image"
                  [src]="'https://data-api-' + deepLinkWorkspaceId + '.deployments.quix.ai/detected_objects/' + m.title"
                  height="48" fxFlex role="button" (click)="selectMarker(m.title!)" class="lastMarker">
              </ng-container>
              <div *ngIf="!m" fxFlex class="lastMarker pe-none" [style.height.px]="48"></div>
            </ng-container>
          </div>
        </div>

        <div class="mb-5">
          <h4 class="mb-2">Traffic density analysis</h4>
          <p class="text-body mb-3">
            For each traffic camera, a service
            <a [href]="'https://portal.platform.quix.ai/pipeline/deployments/' + maxVehicleWindowProjectDeploymentId + '?workspace=' + deepLinkWorkspaceId + '&token=' + ungatedToken"
              target="_blank">
              calculates the maximum number
            </a>
            of vehicles seen in any given video frame in the last 24 hours. Then, it compares the current number of
            vehicles to the last observed maximum.
            This figure is expressed as a percentage and represented on a color scale.
          </p>
          <p class="text-body mb-3">
            Use the following dropdown to count specific types of vehicles on the map. The
            <a [href]="'https://portal.platform.quix.ai/applications/ide/TfL%20image%20processing%20UI?workspace=' + deepLinkWorkspaceId + '&token=' + ungatedToken + '&branch=main'"
              target="_blank">code can be customised</a>
            to identify other types of objects as well.
          </p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Detecting</mat-label>
            <mat-select [value]="parameterId" (selectionChange)="selectedObjectChanged($event.value)">
              <mat-option class="text-uppercase" disabled><span class="mat-caption">Density</span></mat-option>
              <mat-option [value]="''">
                Traffic density
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option class="text-uppercase" disabled><span class="mat-caption">Object Detection</span></mat-option>
              <mat-option *ngFor="let type of popularObjectTypes" [value]="type">
                {{ type | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <p class="mat-caption text-body mb-1">Traffic density</p>
            <div fxLayout="row" fxLayoutGap="2" [style.height.px]="8">
              <div fxFlex [style.backgroundColor]="'#63FFB1'"></div>
              <div fxFlex [style.backgroundColor]="'#FFBE00'"></div>
              <div fxFlex [style.backgroundColor]="'#FF7828'"></div>
              <div fxFlex [style.backgroundColor]="'#FF4040'"></div>
              <div fxFlex [style.backgroundColor]="'#C23131'"></div>
            </div>
            <div fxLayout="row" fxLayoutGap="2" class="mat-caption text-body ms-n2 me-2 mt-1">
              <div fxFlex><span class="ms-2">0</span></div>
              <div fxFlex>20%</div>
              <div fxFlex>40%</div>
              <div fxFlex>60%</div>
              <div fxFlex>80%</div>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <h4 class="mb-2">Want to know more?</h4>
          <p class="text-body mb-3">
            <a href="https://quix.io/docs/platform/tutorials/image-processing/index.html" target="_blank">Read the
              tutorial</a> and try Quix for free
            to reproduce this project or build something similar. To discover what else is possible, see our other
            project templates.
          </p>
          <div fxLayout="row">
            <a mat-raised-button color="primary" class="small me-2" fxLayout="row" fxLayoutAlign="center center"
              href="https://portal.platform.quix.ai/self-sign-up" target="_blank">
              <span>Sign up for free</span>
            </a>
            <a href="https://quix.io/templates" target="_blank" mat-raised-button color="accent" class="small"
              fxLayout="row" fxLayoutAlign="center center">
              <span>More project templates</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Map Section -->
      <div fxFlexOrder.xs="-1" fxFlex.gt-xs="50" fxFlex.gt-sm="100" fxFlex="360px" fxLayout="column">
        <agm-map #map [zoom]="zoom" [maxZoom]="18" [minZoom]="10" [fitBounds]="false" [latitude]="latitude"
          [longitude]="longitude" (boundsChange)="bounds = $event" (zoomChange)="zoom = $event" class="w-100 h-100">
          <agm-marker-cluster [styles]="clusterStyle" [calculator]="calculateFunction" [averageCenter]="true"
            [gridSize]="50" #cluster>
            <ng-container *ngFor="let m of markers;">
              <agm-marker *ngIf="m.latitude && m.longitude" [latitude]="m.latitude" [longitude]="m.longitude"
                [label]="m.label!" [iconUrl]="m.icon!" [title]="m.title!"
                (markerClick)="selectMarker($event.title); isLoadingImage = true">
              </agm-marker>
            </ng-container>
          </agm-marker-cluster>
          <agm-snazzy-info-window *ngIf="selectedMarker as m" [isOpen]="!!m" [closeWhenOthersOpen]="true"
            [closeOnMapClick]="true" [showCloseButton]="true" [openOnMarkerClick]="true" [panOnOpen]="true"
            [backgroundColor]="'#FFF'" [padding]="'12px'" [maxWidth]="266" [maxHeight]="300" [latitude]="m.latitude!"
            [longitude]="m.longitude!" (afterClose)="selectedMarker = undefined">
            <ng-template>
              <div [style.width.px]="240" [style.height.px]="196" fxLayout="row" fxLayoutAlign="center center"
                class="position-relative border">
                <img *ngIf="m.image" [src]="'data:image/png;base64,' + m.image" width="100%" height="100%">
                <img *ngIf="!m.image" [hidden]="isLoadingImage" (load)="isLoadingImage = false"
                  [src]="'https://data-api-' + workspaceId + '.deployments.quix.ai/detected_objects/' + m.title"
                  width="100%" height="100%">
                <mat-spinner diameter="20" *ngIf="isLoadingImage"></mat-spinner>
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between start" class="mt-1">
                <span class="fw-bold">{{ m.title }}</span>
                <span class="mat-caption text-body">{{ m.date | date: 'HH:mm:ss' }}</span>
              </div>
              <span *ngIf="!parameterId">{{ m.count || 0 }} vehicles</span>
              <span *ngIf="parameterId">{{ m.value || 0 }} {{ parameterId }}</span>
              <span *ngIf="m.max" class="ms-1">(max: {{ m.max }} vehicles)</span>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-map>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>